<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

  <context:component-scan base-package="entity,controller,service,dao,daoimpl,component,serviceimpl"/>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost/OutsourcingTalent"/>
    <property name="username" value="root"/>
    <property name="password" value="chenqi11545"/>
  </bean>

  <!-- 配置SessionFactory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        <prop key="hibernate.hbm2ddl.auto">update</prop>
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.format_sql">true</prop>
        <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/OutsourcingTalent</prop>
        <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
      </props>
    </property>
    <property name="annotatedClasses">
      <list>
        <value>entity.UserEntity</value>
        <value>entity.PersonalInfEntity</value>
      </list>
    </property>
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="transactionBase"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
        lazy-init="true" abstract="true">

    <property name="transactionManager" ref="transactionManager" />
 
    <property name="transactionAttributes">
      <props>
        <prop key="*">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>
  
	<bean id="personalInfDaoTarget" class="daoimpl.PersonalInfDaoImpl">
    <property name="superSessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="personalInfDao" parent="transactionBase">
    <property name="target" ref="personalInfDaoTarget"/>
  </bean>

  <bean id="userDaoTarget" class="daoimpl.UserDaoImpl">
    <property name="superSessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="userDao" parent="transactionBase">
    <property name="target" ref="userDaoTarget"/>
  </bean> 
  <bean id="testTarget" class="daoimpl.TestImpl">
    <property name="superSessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="testDao" parent="transactionBase">
    <property name="target" ref="testTarget"/>
  </bean>

  <bean id="sendEmail" class="serviceimpl.SendEmailImpl"/>

</beans>